<header>
    <div style="z-index: 99;" class="header-bg w-100 ">
        <div class="container  bg-transparent">
            <div class="row">
                <div class="d-flex align-items-center col-5 logo ">
                    <h1 class="color-theme">
                        MediSoft
                    </h1>
                </div>
                <div class="col-7 text-end">
                    <a href="/technician">Tech</a>
                    <a href="/central">Central</a>
                    <ul class="d-flex align-items-center justify-content-end h-100">
                        <li><a href="/login">Çıkış Yap</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>